.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-page h2 {
  margin-top: 100px;
  font-size: 30px;
  font-family: monospace, Arial, sans-serif;
  /* color: green; */
  color: rgb(124, 141, 99);
  text-align: center;
  flex-wrap: wrap;
}

.profile-page p {
  font-family: Arial, sans-serif;
  color: rgb(146, 148, 142);
  text-align: center;
  flex-wrap: wrap;
}

.profile-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email {
  margin-top: 20px;
}

.email p {
  font-size: 16px;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
